*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg
/oxygen/nbproject/private/

#Mac stuff
*.DS_Store

#oxygen/build.xml
oxygen/nbproject/
oxygen/manifest.mf
oxygen/result.txt
oxygen/result.xml
build.number

#java class files
*.class

namedropper-py/test-results/
namedropper-py/coverage.xml
namedropper-py/nosetests.xml

# java deps downloaded with maven but not checked in to source control
lib/log4j-*.jar
lib/junit-*.jar
lib/xom-*.jar
lib/json-simple-*.jar
lib/jide-oss-*.jar
lib/junit-*.jar
lib/mockito-all-*.jar
lib/powermock-*.jar
lib/xalan-*.jar
lib/xercesImpl-*.jar
lib/xml-apis-*.jar
