<!DOCTYPE plugin SYSTEM "../plugin.dtd">
<plugin
    name="NameDropper"
    description="Looks up names in name authority"
    version="0.3.0"
    vendor="Emory University Library"
    class="edu.emory.library.namedropper.plugins.NameDropperPlugin">
    <runtime>
        <library name="NameDropper.jar"/>
    </runtime>
    <extension type="WorkspaceAccess"
        class="edu.emory.library.namedropper.plugins.NameDropperPluginExtension"/>
</plugin>
